<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
   <targets>
      <target xsi:type="NLogViewer"
                name="advancedLog"
                address="udp://127.0.0.1:878"
                 />
   </targets>

   <rules>
      <!-- Avoid logging to incorrect folder before the logging initialization is done. If you want to see those logging messages, comment out this line, but your log file will be somewhere else. -->
      <logger name="*" minlevel="Trace" writeTo="advancedLog"/>
   </rules>
</nlog>